/*
Company : Vidhikarya;
URL : vidhikarya.com;
Licence : Apache;
Version : 1.0;
Namespace : Lawyer Page;
*/

/* -----------------------------------------------DashboardPage-------------------------------------------------------*/
