  /* Chat Style -----------------*/

  #ChatContent{
    height: 550px;
    flex:4;
    margin:10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      border-radius: 5px;
      display: flex;
      flex-direction: column;
  }
  #ChatHeader{
    flex-basis: 10%;
    background: #dbdbdb;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  #ChatHeader span{
    font-size: 20px;
    padding-left: 20px;
  }
  #Messages{
    padding:20px;
    flex-basis: 80%;
    border-bottom: 1px solid #ddd;
    overflow-y: scroll;
  }
  #ChatForm{
    flex-basis: 10%;
    padding: 10px;
  }
  .SenderStyle{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }
  .SenderStyle div{
    width: 70%;
    padding:5px;
    color:#fff;
    background-color: #23d160;
    position: relative;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .SenderStyle div:after{
    position: absolute;
    bottom: -10px;
    right: 30px;
    content:'';
    border-top:5px solid #23d160;
    border-bottom:5px solid transparent;
    border-right:5px solid #23d160;
    border-left:5px solid transparent;
  }
  .ReceiverStyle{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }
  .ReceiverStyle div{
    width: 70%;
    padding:5px;
    color:#fff;
    background-color: #ff5252;
    position: relative;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .ReceiverStyle div:after{
    position: absolute;
    top: -10px;
    left: 30px;
    content:'';
    border-bottom:5px solid #ff5252;
    border-top:5px solid transparent;
    border-left:5px solid #ff5252;
    border-right:5px solid transparent;
  }
  input{
    height:30px;
    width: 95%;
    outline:none;
    padding: 5px;
  }
    /* Profile Card --------- */
    .ProfileCard{
        width: 100%;
        margin-bottom: 30px;
        border:1px solid #ddd;
    }
    .ProfileCard .CardHeader{
        display: flex; 
        padding:5px; 
        border-bottom: 1px solid #ddd;
    }
    .ProfileCard .Image{
        flex-basis: 70px;
        height: 70px;
        padding:5px
    }
    .ProfileCard .HeaderContent{
        flex-basis:300px;
        flex-grow: 1;
    }
    .ProfileCard .Icons{
        font-size: 15px; 
        position: relative; 
        top: 3px;
    }
    .ProfileCard .CardContent{
        padding: 15px; 
        position: relative;
    }
    /* End of Profile Card -------------*/
    /*Overwritting. Making the Date Time Picker Label to White -----------------------*/
    .picker__title{
        color:#fff !important;
    }
    /*Removing the default box shadow for Case Update Button*/
    .btn--raised{
        box-shadow: none;
    }
    /*Overwritting Style for FullScreen Modal Box*/
    .card__row{
    min-height: 0;
    }
    /*End Overwritting -------------------------*/
    /* Card Style*/
    .CaseCardHeading{
        padding:5px;
        padding-left: 10px;
        width:100%;
        border-bottom: 1px solid #d0d1d5;
        font-size: 13px;
        line-height: 13px;
        text-transform: none;
        -webkit-font-smoothing:antialiased;
        font-weight: bold;
        color:#90949c;
    }
    .CaseCardContent{
        padding:10px;
    }
    .CaseCard{
        border: 1px solid;
        flex-basis: 400px;
        flex-grow: 1;
        border-color: #e5e6e9 #dfe0e4 #d0d1d5;
        border-radius: 0 0 4px 4px;
        /*pointer-events: none;*/
        background-color: #fff;
        margin:5px;
        margin-bottom: 10px;
    }
    /* End Of Card Style*/
    #PageContent{
        padding:20px;
        width: 100%;
        display: flex;
    }
    .TheLabel{
         background-color:rgba(0,0,0,.03);
         border:1px solid rgba(34,36,38,.15) !important;
    }
    .RowStyle{
        border:1px solid rgba(34,36,38,.15);
        padding:0;
        border-right: 0;
    }
    .NameDisplay{
        float:left;
        background:linear-gradient(-180deg, #fafbfc 30%, #eff3f6 60%); 
        padding-right: 10px; 
        border-right:1px solid rgba(34,36,38,.15); 
        height:36px; 
        line-height: 35px;
    }
    .UpdateCaseInfoContainer{
        width: 60%;
        margin:auto;
    }
    .NameDisplay a{
        font-size: 16px; 
        padding-left:15px; 
        color: #23d160;
    }
    .LabelColStyle{
        background-color:rgba(0,0,0,.03);
        border-right:1px solid rgba(34,36,38,.15) !important;
        padding:5px;
    }
    .NamePictureDisplay{
        padding: 0px;
        border-right:0px !important;
        background-color: rgb(250, 251, 252);
    }
    .LabelValueStyle{
        padding: 5px;   
        border-right:1px solid rgba(34,36,38,.15) !important;
    }
    .HeadingStyle{
        font-size: 25px; 
        background-color: #3273dc; 
        border-radius: 5px; 
        margin-top:20px; 
        color:#fff; 
        padding: 10px;"
    }
    img{
        height: inherit;
        width:36px;
        padding: 0px;
        margin:0px;
    }
    code{
        box-shadow: 1px 1px 3px rgba(0,0,0,.2), 1px 1px 1px rgba(0,0,0,.14), 1px 2px 1px -1px rgba(0,0,0,.12);
        background-color: #f5f5f5;
        border-radius: 0;
    }
    .updateButton{
        background:linear-gradient(-180deg, #fafbfc 30%, #eff3f6 60%);
        border-left:1px solid rgba(34,36,38,.15);
        margin: 0px; 
        border-radius: 0;
        height:36px;
        padding-left:10px;
        padding-right:10px;
        font-size: 12px;
    }
    .updateButton:hover{
        background:linear-gradient(-180deg, #fafbfc 30%, #eff3f6 60%) !important;
        box-shadow:inset 0 0.15em 0.3em rgba(27,31,35,0.15);
    }
    .caseButtonIconStyle{
        font-size:20px;
        padding-right: 5px;
    }
    .CheckboxDescription{
        font-size: 13px;
    }
    small {
    display: block;
    line-height: 1.428571429;
    color: #999;
    }
</style>
<style type="text/css">
    #CaseContainer{
        margin-left: 10px;
        width: 50%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-radius: 5px;
        flex-basis: 50%;
        margin-right: 30px;
    }
    #LawyersTab{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-radius: 5px;
        margin-bottom: 50px;
    }
  /*Tab Style -----------------------------------------------------------------*/
  .DashboardNav{
    padding: 10px;
    padding-bottom: 0px;
    /*border-bottom: 1px solid #e1e4e8 ;*/
      width: 100%;
      background-color: #dbdbdb;
  }
  .DashboardNavBar{
      display: flex;
      flex-wrap: wrap;
  }
  .Tabs{
    align-content: flex-start;
    flex: 3;
  }
  .reponav-item{
    float: left;
      padding: 7px 15px 8px;
      color: #586069;
      white-space: nowrap;
      border: solid transparent;
      border-width: 3px 1px 1px;
      border-radius: 3px 3px 0 0;
  }
  .selected{
    color: #24292e;
      background-color: #fff !important;
      border-color: #e36209 #e1e4e8 transparent;
  }
  .Counter{
      color:#444d56;
      display: inline-block; 
      padding: 2px 5px;
      margin-left: 5px;
      font-size: 12px;
      font-weight: 600;
      line-height: 1;
      color: #586069;
      background-color: rgba(27,31,35,0.08);
      border-radius: 20px;
  }
  /* End of Tab Style -----------------------------------------------------------*/

  /* Information Template Style --------------------------------------*/
  .Section{
    margin-bottom: 30px;
  }
  .Section .Heading{
    font-size: 17px; 
    font-weight: bold; 
    color: #90949c; 
    text-transform: uppercase;
  }
  .EditIcon{
    color: #90949c;
    font-size: 16px;
    cursor: pointer;
  }
  .InfoRow{
    display: flex; 
    justify-content: flex-start; 
    padding-top: 8px; 
    padding-bottom: 8px;
  }
  .RowLabel{
    color: #90949c;
  }
  /* End of Information Template Style ------------------------------------------*/

  input{
        height:30px;
        width: 95%;
        outline:none;
        padding: 5px;
    }